body {
    font-family: sans-serif;
    background-color: #00FF29;
}
header img{border-radius: 50px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
p{text-align: center;}


h1{color: #FFF;
font-family: fantasy;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;}





h2{color: #FFF;
font-family: Zen Antique Soft;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;}




footer{border-radius: 50px;
background: #2E2E2E; width: 1024px;
padding: 25px;}
footer a{text-align: left;color: white;

text-decoration: none;}


main p{color: white; font-size: 25px;}
main a{background-color: #2E2E2E;border: 2px solid white;
text-decoration: none ; color: #FFF;
padding: 10px;margin: 50px;border-radius: 20px;}

.gast{background-color: #61FF84;color: #2E2E2E;border: 2px solid #2E2E2E;}
.tic{text-align: center;}

p img{border-radius: 15px;}
